<h2><i class="fas fa-book-reader"></i>NoteSpace</h2>
<div class="section">
    <p class="lead">Share your notes and help the community grow</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> LOG IN WITH GOOGLE
    </a>
</div>